@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* fondo 1 */
*,
*::before,
*::after{
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 62.5%;
  }
  
/*body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
}*/
#backimage {
background-image: url('./back.png');
background-size: cover;
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
background-position: center center;
}

/*#start{
    display: block;
}*/

#instructions,#easyLevel,#mediumLevel,#hardLevel,#end{
    display: none;
}
.container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 85vh;
}
.help{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header{
    text-align: center;
}
h1{
font-family: 'Ultra', serif;
font-style: normal;
font-weight: normal;
font-size: 4.0rem;

color: #FDF7F7;
}

h2{
font-family: 'Ultra', serif;
font-style: normal;
font-weight: normal;
font-size: 2.0rem;
/* identical to box height */

text-align: center;

color: #FAF76B;

}

/* Botones para todo el juego */
button {
position: relative;
width: 195px;
height: 62px;

background: rgba(217, 195, 238, 0.75);
border-radius: 20px;
}

.container >button:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

#detail{
position: relative;
width: 0vw;
height: 0vh;
padding-top: 5%;
left: 20%;
border-radius: 20px;
}

.backStart{
flex: none;
width: 10vw;
height: 0vh;
border-radius: 20px;
justify-content: flex-end;
align-items: center;

}



.grid {
    max-width: 700px;
    margin: 20% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
     position: relative;
     margin: 5px;
     background-color: #D9C3EE;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
     transition: all 0.4s linear;
     transform-style: preserve-3d;
}

.card,.front,.back{
    height: 200px;
    width: 150px;
    border-radius: 20px;
}

.back, .front {
    position: absolute;
    backface-visibility: hidden;
}
.back {
    background-color: #d9c3ee;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.front {
    transform: rotateY(180deg) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match {
    border: 4px;
    opacity: 0;
    background-image: none !important;
}

.modal {
    margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 20px;
	width: 90%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
}

/*.end {
    margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}*/

.show3 {
    display: flex !important;
	opacity: 100 !important;
}