@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* fondo 1 */
body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
}
#backimage {
    position: absolute;
background-image: url('./back.png');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 100%;
width: 100%;
text-align: center;
}

#start{
    display: block;
}

#instructions{
    display: none;
}
#easyLevel {
    display: none;
}
#mediumLevel {
    display: none;
}
#hardLevel {
    display: none;
}
#end {
    display: none;
}

.container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.help{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1{
position: absolute;
width: 1313px;
height: 142px;
left: 64px;
top: 38px;

font-family: 'Ultra', serif;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 131px;

color: #FDF7F7;
}

h2{
    position: absolute;
width: 362px;
height: 66px;
left: 43px;
top: 14px;

font-family: 'Ultra', serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 66px;
/* identical to box height */

text-align: center;

color: #FAF76B;

}
/* imágenes de cartas para elegir nivel */
/*img{
    position: relative;
    width: 210px;
    height: 260px; 
    background: rgba(217, 195, 238, 0.75);
    border-radius: 10px;
}
.easy{
    left: 200px;
 top: 394px;
}
.medium{
    left: 400px;
top: 394px;

}
.hard{
    left: 600px;
top: 394px;
}*/

/* Botones para todo el juego */
button {
position: relative;
width: 195px;
height: 62px;

background: rgba(217, 195, 238, 0.75);
border-radius: 20px;
}

.container >button:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}


#detail{
    position: relative;
width: 60%;
height: 20%;
left: 115px;
top: 180px;

border-radius: 20px;
}
.backStart{
    left: 20%;
}

